.main {
    padding-top: vw(40);
    &__wrap {
        display: flex;
        gap: vw(70);
    }
    &__services {
        margin-top: vw(35);
        position: relative;
        background: rgb(255, 255, 255);
        box-shadow: 0px 0px vw(75) rgba(0, 0, 0, 0.03);
        border-radius: 0 vw(20)vw(20)vw(20);
        width: vw(225);
        height: vw(569);
        // height: vw(606);
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: vw(48);
        padding: vw(6) vw(30) 0 vw(30);
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: vw(-47);
            left: 0;
            width: 100%;
            height: vw(60);
            background: rgb(255, 255, 255);
            transform: skew(0, 6deg);
            border-radius: vw(20) vw(20) 0 0;
            z-index: 1;
            //
            // width: vw(207);
            // height: vw(20);
            // background: rgb(255, 255, 255);
            // top: vw(1);
            // left: 0;
            // transform: translateY(-100%);
            // background: linear-gradient(to top right, #fff 50%, rgba(0, 0, 0, 0) 54%);
            // border-radius: vw(20) 0 0 0;
        }
    }
    &__service {
        z-index: 2;
        position: relative;
        font-weight: 400;
        font-size: vw(14);
        line-height: vw(22);
        text-align: center;
        color: $black;
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: vw(-38);
            left: vw(10);
            width: 100%;
            height: vw(20);
            background: url(../img/main/shadow2.png) center/cover no-repeat;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
    &__body {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }
    &__title {
        width: vw(645);
        font-weight: 300;
        font-size: vw(55);
        line-height: vw(85);
        color: $black;
    }
    &__subtitle {
        margin-top: vw(20);
        display: flex;
        // align-items: center;
        p {
            font-weight: 400;
            font-size: vw(32);
            line-height: vw(39);
            color: $black;
        }
        img {
            margin: vw(18) vw(16) 0 0;
            width: auto;
            height: vw(10);
            object-fit: scale-down;
        }
    }
    &__btn-wrap {
        margin-top: vw(46);
        display: flex;
        gap: vw(18);
    }
    &__btn {
        padding-right: vw(57);
        position: relative;
        width: vw(375);
        height: vw(100);
        background: $green;
        box-shadow: inset 0px 0px vw(22) rgba(255, 255, 255, 0.25);
        border-radius: vw(500);
        // 
        font-weight: 600;
        font-size: vw(14);
        line-height: vw(22);
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        &:hover {
            padding-right: vw(53);
            background: #21E27C;
            &::after {
                right: vw(63);
            }
        }
        &:active {
            transform: scale(1.01)
        }
        &::after {
            transition-duration: .5s;
            content: "";
            position: absolute;
            width: vw(20);
            height: vw(20);
            background: url('../img/main/arrow.png') center/ auto no-repeat;
            top: 50%;
            transform: translateY(-50%);
            right: vw(59);
        }
        &_orange {
            background: #F38120;
            width: vw(335);
            &::after {
                right: vw(49);
            }
            &:hover {
                background: #FD9C49;
                &::after {
                    right: vw(54);
                }
            }
        }
    }
    &__descr {
        margin-top: vw(38);
        display: flex;
        align-items: flex-start;
        gap: vw(13);
        img {
            width: vw(26);
            height: auto;
            object-fit: scale-down;
        }
        p {
            font-weight: 400;
            font-size: vw(14);
            line-height: vw(22);
            text-align: center;
            letter-spacing: 0.02em;
            color: $black;
            width: vw(234);
        }
    }
}