@media (max-width: 992px) {
    .container {
        max-width: 760px;
    }
    * {
        line-height: normal;
    }
    .header {
        padding: 0;
        &__top {
            width: 100%;
            left: 0;
            display: none;
            // flex-direction: column;
        }
        &__icon {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 150px;
            left: 50%;
            transform: translateX(-50%);
        }
        &__list {
            // width: 300px;
            //ысука
            padding-right: 0;
            flex-direction: column;
            position: absolute;
            top: 220px;
            justify-content: center;
            gap: 20px;
            align-items: center;
        }
        &__link {
            a {
                font-size: 18px;
                &:hover {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
        &__hr {
            display: none;
        }
        &__bottom {
            z-index: 5;
            position: relative;
            // padding-top: -40px;
            justify-content: center;
            align-items: center;
        }
        &__slogan {
            display: none;
            margin: 0;
            width: 300px;
            font-size: 14px;
            line-height: normal;
        }
        &__price {
            display: none;
            width: auto;
            margin: 0;
            padding: 0;
            gap: 20px;
        }
        &__logo {
            margin-top: -27px;
            margin-left: -85px;
            width: auto;
            height: 150px;
            img {
                width: auto;
                height: 150px;
            }
        }
        &__social {
            display: none;
            margin: 0;
            padding: 0;
            gap: 10px;
        }
        &__contact {
            margin: 0;
            padding: 0;
        }
        &__work-time {
            line-height: normal;
            font-size: 14px;
        }
        &__phone {
            line-height: normal;
            font-size: 20px;
        }
        &__burger {
            z-index: 7;
            top: 50px;
            position: absolute;
            right: 20px;
            cursor: pointer;
            width: 30px;
            height: 20px;
            span {
                width: 100%;
                height: 2px;
                background: $black;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                // transition-duration: 2.6s;
            }
            &::after,
            &::before {
                content: "";
                width: 100%;
                height: 2px;
                background: $black;
                position: absolute;
                bottom: -1px;
                transition: all .3s;
            }
            &::before {
                top: 0;
            }
        }
        &__burger.active {
            span {
                display: none;
            }
            &::before {
                transform: rotate(45deg);
                top: 9px;
            }
            &::after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
        }
    }
    .mobile-menu {
        height: 100%;
        width: 100%;
        background: #EDF2F5;
        // background-image: linear-gradient(to top, #EDF2F5 90%, rgba($color: #ffff, $alpha: 0));
    }
    [data-menu] {
        // left: 0;
        transition-duration: .4s;
        // top: 399px;
        display: block;
        position: absolute;
        z-index: 4;
    }
    [data-menu="slogan"] {
        left: 50%;
        transform: translateX(-50%);
        top: 555px;
    }
    [data-menu="price"] {
        display: flex;
        top: 630px;
        left: 50%;
        transform: translateX(-50%);
    }
    [data-menu="social"] {
        display: flex;
        top: 691px;
        left: 50%;
        transform: translateX(-50%);
    }
    [data-menu="overlay"] {
        transition-duration: .7s;
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 3;
    }
    [data-menu-hide] {
        opacity: 0;
        visibility: hidden;
    }
    .button {
        &__link {
            Width: 40px;
            Height: 40px;
            &:hover {
                svg {
                    transform: none;
                }
            }
            &_pdf {
                height: 40px;
                width: 40px;
                font-size: 12px;
            }
            &_viber {
                svg {
                    height: auto;
                    width: 50%;
                }
            }
            &_whatsapp {
                svg {
                    height: auto;
                    width: 50%;
                }
            }
            &_telegram {
                svg {
                    height: auto;
                    width: 50%;
                }
            }
        }
    }
    .link {
        height: 26px;
        position: relative;
        font-size: 13px;
        line-height: normal;
        //
        background-image: linear-gradient(to right, #12c868 31%, rgba(255, 255, 255, 0) 0);
        background-size: 10px 3px;
        background-repeat: repeat-x;
        background-position: 21px 21px;
        &_call-me {
            line-height: initial;
            height: 24px;
            width: auto;
            font-size: 18px;
            // background-position: 1px 14px;
        }
    }
    .social {
        &__title {
            font-size: 14px;
            line-height: normal;
            letter-spacing: .02em;
            &:before {
                width: 4px;
                height: 4px;
                top: 50%;
                transform: translateY(-50%);
                left: -8px;
            }
        }
        &__link {
            gap: 14px;
        }
    }
    .main {
        // height: 100vh;
        padding-top: 100px;
        padding-bottom: 20px;
        &__wrap {
            gap: 70px;
        }
        &__services {
            margin-top: 35px;
            box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.03);
            border-radius: 0 20px 20px 20px;
            width: 225px;
            height: 550px;
            padding: 6px 10px 0 10px;
            &::after {
                content: "";
                top: -47px;
                height: 60px;
                border-radius: 20px 20px 0 0;
            }
        }
        &__services-wrap {
            gap: 60px;
        }
        &__service {
            font-size: 13px;
            line-height: 22px;
            color: $black;
            &::after {
                bottom: -38px;
                left: 10px;
                width: 100%;
                height: 20px;
            }
        }
        &__body {
            padding-top: 40px;
        }
        &__title {
            order: 1;
            width: 430px;
            font-size: 36px;
            line-height: normal;
        }
        &__subtitle {
            order: 2;
            margin-top: 5px;
            p {
                font-size: 20px;
                line-height: normal;
                color: $black;
            }
            img {
                margin: 8px 8px 0 0;
                width: auto;
                height: 10px;
                object-fit: scale-down;
            }
        }
        &__btn-wrap {
            order: 4;
            margin-top: 46px;
            gap: 18px;
            flex-direction: column;
        }
        &__btn {
            padding: 0;
            padding-right: 50px;
            width: 300px;
            height: 70px;
            box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
            border-radius: 500px;
            // 
            font-size: 12px;
            line-height: normal;
            letter-spacing: 0.02em;
            &:hover {
                padding-right: 50px;
                background: $green;
                &::after {
                    right: 39px;
                }
            }
            &:active {
                transform: scale(1.01)
            }
            &::after {
                width: 20px;
                height: 20px;
                background: url('../img/main/arrow.png') center/ cover no-repeat;
                top: 50%;
                transform: translateY(-50%);
                right: 39px;
            }
            &_orange {
                background: #F38120;
                width: 260px;
                &::after {
                    right: 39px;
                }
                &:hover {
                    background: #F38120;
                    &::after {
                        right: 39px;
                    }
                }
            }
        }
        &__descr {
            // display: none;
            order: 3;
            margin-top: 38px;
            gap: 13px;
            img {
                width: 26px;
            }
            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.02em;
                color: $black;
                width: 234px;
            }
        }
    }
    .modal {
        &__window {
            padding: 69px 85px 0 88px;
            border-radius: 35px;
            width: 550px;
            height: 650px;
            &_thanks {
                padding: 0;
                height: 150px;
                .modal__close {
                    top: 22px;
                    right: 20px;
                }
            }
        }
        &__title {
            font-size: 30px;
            line-height: normal;
        }
        &__subtitle {
            margin-top: 10px;
            width: 371px;
            font-size: 16px;
            line-height: 24px;
        }
        &__time {
            margin-top: 25px;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
        }
        &__close {
            right: 46px;
            top: 53px;
            width: 24px;
            height: 24px;
            span {
                border-radius: 10px;
                width: 26px;
                height: 4px;
            }
        }
    }
    .form {
        padding-left: 6px;
        width: 368px;
        margin-top: 28px;
        &__title {
            margin-left: 47px;
            font-weight: 400;
            font-size: 12px;
            line-height: normal;
        }
        &__numb,
        &__btn {
            width: 356px;
            height: 85px;
            border-radius: 500px;
        }
        &__numb {
            font-size: 18px;
            line-height: normal;
            padding: 24px 0 20px 46px;
            margin-top: 12px;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
        }
        &__btn {
            padding-right: 50px;
            margin-top: 26px;
            box-shadow: inset 0px 0px 17px rgba(255, 255, 255, 0.25);
            font-size: 16px;
            line-height: 29px;
            &:hover {
                background: #F38120;
                padding-right: 50px;
                &::after,
                &::before {
                    right: 88px;
                }
            }
            &::after {
                border-width: 0 3px 3px 0;
                padding: 4px;
                right: 88px;
            }
            &::before {
                height: 3.5px;
                width: 26px;
                right: 88px;
            }
        }
        &__policy-wrap {
            margin-top: 19px;
            gap: 20px;
            padding-left: 10px;
        }
        &__policy {
            width: 320px;
            font-size: 12px;
            line-height: normal;
        }
        .custom-checkbox+label::before {
            margin: 8px 0px 0px 2px;
            width: 18px;
            height: 18px;
            border: 1px solid #adb5bd;
            border-radius: 4px;
        }
    }
}

@media (max-width: 766px) {
    .container {
        max-width: 540px;
    }
    .header {
        &__top {}
        &__icon {}
        &__list {}
        &__link {
            a {
                font-size: 16px;
            }
        }
        &__hr {}
        &__bottom {}
        &__slogan {}
        &__price {}
        &__logo {
            margin-top: -22px;
        }
        &__social {}
        &__contact {
            margin-top: -30px;
            gap: 5px;
        }
        &__work-time {
            font-size: 12px;
        }
        &__phone {
            font-size: 16px;
        }
        &__burger {
            top: 36px;
            right: 10px;
        }
    }
    .button {
        &__link {
            &_pdf {}
            &_viber {}
            &_whatsapp {}
            &_telegram {}
        }
    }
    .link {
        background-image: linear-gradient(to right, #12c868 31%, rgba(255, 255, 255, 0) 0);
        background-size: 7px 2px;
        background-repeat: repeat-x;
        background-position: 1px 18px;
        &_call-me {
            font-size: 14px;
        }
    }
    .social {
        &__title {}
        &__link {}
    }
    [data-menu=slogan] {
        top: 520px
    }
    [data-menu=price] {
        top: 606px;
    }
    [data-menu=social] {
        top: 655px;
    }
    .main {
        overflow: hidden;
        padding-bottom: 180px;
        position: relative;
        // height: 100%;
        padding-top: 34px;
        &__wrap {
            flex-direction: column-reverse;
        }
        &__services {
            z-index: 1;
            transition: all .5s;
            padding-left: 23px;
            align-items: flex-start;
            height: 367px;
            bottom: -292px;
            position: absolute;
            // bottom: -418px;
            left: 50%;
            transform: translateX(-50%);
        }
        &__services.active {
            bottom: 20px;
        }
        &__services-wrap {
            margin-top: -29px;
            display: flex;
            flex-direction: column;
            gap: 28px;
        }
        &__services-btn {
            cursor: pointer;
            z-index: 2;
            position: absolute;
            top: -24px;
            right: 14px;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            background: $orange;
            animation: bit 2s infinite ease-in-out;
            &::after,
            &::before {
                border-radius: 5px;
                transition: all 1s;
                content: '';
                display: block;
                height: 2px;
                width: 10px;
                position: absolute;
                background: #fff;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%)
            }
            &::before {
                transform: translateY(-50%) translateX(-50%) rotate(90deg);
            }
        }
        &__services-btn.active {
            animation: none;
            &::after,
            &::before {
                top: 50%;
                left: 55%;
                transform: scale(1.3) translateX(-50%) translateY(-50%) rotate(-45deg)
            }
            &::before {
                transform: scale(1.3) translateY(-50%) translateX(-50%) rotate(45deg);
            }
        }
        &__service {
            width: 136px;
            font-size: 10px;
            text-align: left;
            &::after {
                bottom: -24px;
            }
            .new-line {
                display: none;
            }
        }
        &__body {
            justify-content: center;
            align-items: center;
            padding: 0;
        }
        &__descr {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__btn-wrap {
            margin-top: 15px;
        }
    }
    .modal {
        &__window {
            padding: 30px 10px 10px 10px;
            margin: 0;
            width: 300px;
            height: 450px;
            &_thanks {
                height: 100px;
                padding: 0;
                .modal__close {
                    right: 10px;
                    top: 18px;
                }
            }
        }
        &__title {
            font-size: 22px;
        }
        &__close {
            right: 15px;
            top: 24px;
        }
        &__subtitle {
            width: auto;
            font-size: 14px;
            line-height: normal;
        }
        &__time {}
    }
    .form {
        padding: 0;
        margin-top: 20px;
        width: auto;
        justify-content: center;
        align-items: center;
        &__title {
            margin: 0;
        }
        &__numb {
            // padding-left: 30px;
            font-size: 14px;
            height: 45px;
            padding: 10px 50px;
            width: 90%;
        }
        &__btn {
            height: 45px;
            width: 90%;
            &:hover {
                &::after,
                &::before {
                    right: 30px;
                }
            }
            &::after {
                right: 30px;
            }
            &::before {
                right: 30px;
            }
        }
        &__policy-wrap {}
        &__policy {
            width: 210px;
        }
    }
    .custom-checkbox {}
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .header {
        &__icon {
            width: 23px;
            height: auto;
            top: 88px;
        }
        &__list {
            top: 131px;
            gap: 20px;
        }
        &__link {
            a {
                font-size: 10px;
            }
        }
        &__logo {
            // display: none;
            img {
                margin-left: 14px;
                margin-top: 26px;
                width: auto;
                height: 60px;
                object-fit: scale-down;
            }
        }
        &__slogan {
            font-size: 8px;
            width: 60%;
        }
        [data-menu=slogan] {
            top: 375px;
        }
        &__price {
            width: 230px;
        }
        [data-menu=price] {
            top: 426px;
        }
        &__social {}
        [data-menu=social] {
            top: 485px;
        }
        &__contact {
            margin-top: -47px;
            gap: 4px;
        }
        &__work-time {
            font-size: 7px;
        }
        &__phone {
            font-size: 14px;
        }
        &__burger {
            width: 20px;
            height: 15px;
            top: 29px;
            right: 22px;
        }
        &__burger.active {
            &::before {
                transform: rotate(45deg);
                top: 6.5px;
            }
            &::after {
                transform: rotate(-45deg);
                bottom: 6.5px;
            }
        }
    }
    .button {
        &__link {
            &_pdf {}
            &_viber {}
            &_whatsapp {}
            &_telegram {}
        }
    }
    .link {
        margin-top: 7px;
        font-size: 10px;
        background-position: 1px 14px;
        &_call-me {
            margin-top: 0;
            font-size: 10px;
        }
    }
    .social {
        &__title {
            font-size: 10px;
        }
        &__link {}
    }
    .main {
        padding: 0;
        padding-bottom: 200px;
        margin-top: -26px;
        &__wrap {}
        &__services {}
        &__services-wrap {}
        &__service {}
        &__services-btn {}
        &__body {
            align-items: center;
            justify-content: center;
        }
        &__title {
            max-width: 360px;
            text-align: center;
            font-size: 18px;
            width: 100%;
        }
        &__subtitle {
            p {
                font-size: 13px;
            }
            img {
                margin: 5px 6px 0 0;
                width: 37px;
            }
        }
        &__btn-wrap {
            // margin-top: 200px;
        }
        &__btn {
            width: 276px;
            height: 60px;
            font-size: 10px;
            &_orange {}
        }
        &__descr {
            gap: 6px;
            img {
                height: 10px;
            }
            p {
                font-size: 8px;
                line-height: normal;
            }
        }
        &__img {}
    }
}